.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.bash_sessions
.gem
.gitconfig-local
.local
.pyenv
.python_history
.viminfo
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
